<configuration>
  <appSettings>
    <add key="GoogleCreditials" value="mergecolors-29112001-3ecc55b9fa90.json" />
    <add key="TelegramApi" value="6280475996:AAHCCowudR-dGKk3zOeB5Pe3cwLiTTwREfM" />
    <add key="OpenAIAPI" value="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" />
  </appSettings>
</configuration>